/******
General
******/
body{
    background-color: black;
}


/******
Nav
******/
header{
    padding-top: 10px;
    padding-bottom: 5%;
}

nav{
    padding-right: 20px;
}

#logo{
    float: left;
}

.links{
    list-style: none;
    a{
        text-decoration: none;
        color: white;
        padding-left: 15px;
    }
}

.link{
    padding-top: 30px;
    font-size: 2em;
    float: right;
}


/******
Content
******/

// Main
main{
    clear: both;
}


// Mission
#mission{
    clear: both;
    height: 100vh;
    background-image: url("assests/img-mission-background.jpg");
    background-size: cover;
    text-align: center;
    color: white;

    #missiontext{
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        font-size: 2em;
    }
    
    h1{
        padding-top: 25%;
    }

}


// Features
#features{
    color: white;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.tea{
    text-align: center;
    color: white;
}

.tea img{
    height: 200px;
    width: 300px;
}


// Locations
#locations{
    height: 100vh;
    background-image: url("assests/img-locations-background.jpg");
    background-size: cover;
}