@import "default.scss";

/******
General
******/
body{
    background-color: #B8CCD9;
    background-color: #417339;
    background-color: #2148BF;
    background-color: #D99A4E;
    background-color: #8C6645;
    background-color: #000000;
}


/******
Nav
******/
header{
    // padding-top: 10px;
    padding-bottom: 5%;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

nav{
    width: 100%;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 10px 0px;
}

#logo{
    float: left;
}

.links{
    padding-right: 20px;
    list-style: none;
    a{
        text-decoration: none;
        color: #fff;
        padding-left: 20px;
    }

    a:hover{
        color: $text;
    }
}

.link{
    padding-top: 30px;
    font-size: 2em;
    float: right;
}


/******
Content
******/
// General
.contentText{
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    padding-top: 15%;
}

// Main
main{
    clear: both;
}


// Mission
#mission{
    clear: both;
    height: 100vh;
    background-image: url("assests/img-mission-background.jpg");
    background-size: cover;
    text-align: center;
    color: white;

    #missiontext{
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        font-size: 2em;
    }
    
    h1{
        padding-top: 25%;
    }

}


// Features
#features{
    color: white;
    text-align: center;
    width: 1000px;
    margin: 0 auto;

    .teas{
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .tea{
        float: left;
        color: white;
    }
    
    .tea img, p{
        height: 200px;
        width: 300px;
    }
}


// Locations
#locations{
    height: 100vh;
    background-image: url("assests/img-locations-background.jpg");
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

.location{
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 30px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
    color: #fff;
}